.main {
  width: 90%;
  margin: auto;
  display: grid;
  gap: 15px;
}

.exposition {
  margin: 0 auto;
  display: flex;
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 0;
  margin-bottom: 50px;
}

.card {
  height: 400px;
  width: 375px;
  border: 1px solid white;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 325px 1fr;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.card img {
  height: 80%;
  margin: auto;
  transition: 0.5s all;
}

.card:hover img {
  scale: 75%;
}

.card h3 {
  border-top: 1px solid white;
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
  transition: 0.5s all;
}
.card:hover h3 {
  font-size: 2rem;
}
